<div class="container px-4">
	{{form_start(form) }}

	<div class="form-group my-3">
		{{ form_widget(form.title, {'attr': {'placeholder': 'Titre', 'class': 'form-control'}}) }}
		{{ form_help(form.title) }}
		{{ form_errors(form.title) }}
	</div>

	<div class="form-group mb-3">
		{{ form_row(form.category, {'attr': {'placeholder': 'Catégorie', 'class': 'form-control'}}) }}
		{{ form_help(form.category) }}
		{{ form_errors(form.category) }}
	</div>

	<div class="form-group mb-3">
		{{ form_row(form.subcategory, {'attr': {'placeholder': 'Catégorie', 'class': 'form-control'}}) }}
		{{ form_help(form.subcategory) }}
		{{ form_errors(form.subcategory) }}
	</div>

	<div class="form-group mb-3">
		{{ form_widget(form.brand, {'attr': {'placeholder': 'Marque', 'class': 'form-control'}}) }}
		{{ form_help(form.brand) }}
		{{ form_errors(form.brand) }}
	</div>


	<div class="form-group mb-3">
		{{ form_widget(form.imageFile, {'attr': { 'placeholder': 'Image', 'class': 'form-control'}}) }}
		{{ form_help(form.imageFile) }}
		{{ form_errors(form.imageFile) }}
	</div>

	<div class="form-group mb-3">
		{{ form_widget(form.description, {'attr': {'placeholder': 'Déscription', 'class': 'form-control'}}) }}
		{{ form_help(form.description) }}
		{{ form_errors(form.description) }}
	</div>

	<div class="form-group mb-3">
		{{ form_widget(form.price, {'attr': {'placeholder': 'Prix', 'class': 'form-control'}}) }}
		{{ form_help(form.price) }}
		{{ form_errors(form.price) }}
	</div>

	<div class="form-group mb-3">
		{{ form_widget(form.quantity, {'attr': {'placeholder': 'Quantité', 'class': 'form-control'}}) }}
		{{ form_help(form.quantity) }}
		{{ form_errors(form.quantity) }}
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<div class="form-group ">
			{{ form_label(form.isActive, 'Actif') }}
			{{ form_widget(form.isActive, {'attr': {'placeholder': 'Actf', 'class': 'form-check-input me-2'}}) }}
			{{ form_help(form.isActive) }}
			{{ form_errors(form.isActive) }}
		</div>
		<button type="submit" class="btn btn-sm btn-primary d-flex mb-2">
			<i class="fa-solid fa-plus text-white"></i>
		</button>
	</div>
	{{ form_end(form) }}
</div>
